body {
  background-color: #222;
  background: url("../assets/bg2.jpg") center no-repeat;
  background-size: cover;

  font-family: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
  min-width: 400px;
  min-height: 500px;
}

.container {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

button {
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: normal;

  /* set button transparent (like a span) */
  border: none;
  background-color: rgba(1,1,1,0);
}

button:focus {
  outline: none;
}

.header {
  margin-top: 70px;
}

/*
.header a {
  display: block;
  background: url("../assets/star_logo_small.png") transparent no-repeat center;
  background-size: contain;
  height: 44px;
}
*/

.logo {
}

.logo * {
  display: block;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.logo-icon {
  height: 74px;
}

.soundcloud-logo {
  display: block;
  background: url("../assets/sc_logo.png") transparent no-repeat center right;
  background-size: contain;
  height: 50px;
}

.soundcloud-logo:hover {
  color: #bada55;
}

.footer {
  border-top: solid 1px;
  margin-top: 35px;
  padding-top: 0px;

  margin-bottom: 20px;
}

.footer .links {
  margin-top: 20px;
  position: relative;
  width: 100%;

  display: inline-block;
  font-size: 20px;

  overflow: hidden;
}

.footer .links li {
  display: inline-block;
}

.footer .links ul {
  padding: 0;
  margin: 0;
  list-style: none;

  margin-top: 22px;

  position: absolute;
  display: inline-block;
}

#sc-logo {
  display: block;
  width: 100px;
  height: 60px;

  background: url("../assets/soundcloud_logo.png") transparent no-repeat;
  background-size: contain;

  padding: 0;
  margin: 0;

  margin: 0 -10 0 auto;
}

#notes {
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;

  color: #989833;
}

#tinysong-logo {
}

.searchbar {
  position: relative;
  margin-top: 10px;
}

.searchbar * {
  display: inline;
}

.searchbar input {
  background: url("../assets/search_backup.png") transparent no-repeat center;
  background-size: contain;
  width: 402px;
  height: 53px;

  font-size: 24px;
  border: 0;

  padding: 4 15 4 15;
  color: white;
}

.searchbar input:focus {
  outline: 0;
}

#search-icon {
  font-size: 24px;
  position: absolute;
  right: 10px;
  top: 15px;
}

#search-icon:hover {
  color: #eee;
}

.message {
  text-align: center;

  background-color: #bada55;
  border-radius: 3px;

  padding: 15 8 15 8;

  margin-top: 25px;
  margin-left: 3px;
  margin-right: 3px;

  width: 378px;
}

.content {
  position: relative;
}

.message-container {
  position: relative;
}

#message-box {
  min-height: 19px;
}

#message-text {
  margin: auto auto;
  text-align: center;
}

#notice-box {
  position: absolute;
  min-height: 19px;

  z-index: 99;

  display: none;
  margin-top: 0px;
}

#notice-text {
  margin: auto auto;
  text-align: center;
}

.info-ok {
  background-color: #dffbe5;
  color: #325b3a;
}

.info-error {
  background-color: #fee3e3;
  color: #cc4343;
}

.results {
  text-align: left;
}

.results ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

.results ul li {
  border-bottom: solid #333;
  border-width: 1px;

  padding-top: 8px;
  padding-bottom: 8px;
}

.results ul li span {
  display: inline; /* DEBUG - was inline-block */
}

.results ul li span {
  cursor: text;
}

.results ul li i {
  cursor: pointer;
}

.results ul li:last-child {
  border: 0px;
  padding-bottom: 10px
}

.results-footer {
  text-align: center;
  display: none;
}

#more-button {
  padding-top: 8px;
  font-size: 14px;
  display: inline-block;
  margin: 0 auto;
}

.title {
  display: inline-block;
  margin-bottom: 4px;
  padding: 4 6 4 6;
}

.play-icon {
  display: inline-block;
  background: url("../assets/button_play.png") transparent no-repeat;
  background-size: contain;
  background-position: left center;
  padding-left: 35px;

}

.pause-icon {
  display: inline-block;
  background: url("../assets/button_pause.png") transparent no-repeat;
  background-size: contain;
  background-position: left center;
  padding-left: 35px;
}

[class^="icon-"]:hover, [class*=" icon-"]:hover {
  color: #6AA5C9;
}

a:link, a:visited, a:hover, a:active {
  color: #2A4956;
  text-decoration: none;
}
a:hover {
  /* color: #9AD5F9; */
  color: #6AA5C9;
}

#modal {
  display: none;
  width: 400px;
  height: 500px;
}

#modal > .modal-background {
  display: inherit;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 153, 0, 0.3);
}

#modal > .modal-content {
  display: inherit;
  position: fixed;
  top: 198;
  text-align: center;
  padding: 8 21 8 21;
  max-width: 360px;
  width: 360px;
  min-width: 360px;
  min-height: 100px;

  background-color: #ffe;
}

#modal-buttons {
  width: 100%;
}

.song-info {
  width: 100%;
  padding: 10 0;
}

.song-info > span {
  display: block;
  width: 100%;
}

#song-name {
  padding: 20 0;
  font-size: 1.2em;
}

#modal-buttons {
  padding: 10 0;
}

#modal-buttons button:hover {
  color: pink;
}
#modal-buttons button:active {
  color: pink;
}

#modal-buttons button {
  padding: 10 20;
  width: 35%;
  margin: 0 5;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;

  border: 1px solid #222;
}

#cancel-button {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color:#ffffff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
}

#download-button {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
  background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
  background-color:#89c403;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #74b807;
}


/*
 * Progress Bar CSS
 * */
#download-progress {
  display: none;
  padding-bottom: 20;
}

.meter { 
  height: 15px;  /* Can be anything */
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 6px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  margin-top: 5px;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;

  -moz-transition: width 1s;
  -webkit-transition: width 1s;
  transition: width 1s;
}

/* stripes */
.meter > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

/* aniimating the progress bar */
.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.hide, .hidden {
  background: pink;
  position: fixed;
  top: 0;
  width: 1px;
  height: 1px;
  width: 100px;
  height: 60px;
  display: block;
}
