body {
  background-color: #222;
  background: url("../assets/bg.jpg") center no-repeat;
  background-size: cover;

  font-family: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.header {
  margin-top: 70px;
}

.header a {
  display: block;
  background: url("../assets/logo_text.png") transparent no-repeat center;
  background-size: contain;
  height: 44px;
}

.soundcloud-logo {
  display: block;
  background: url("../assets/sc_logo.png") transparent no-repeat center right;
  background-size: contain;
  height: 50px;
}

.soundcloud-logo:hover {
  color: #bada55;
}

.footer {
  border-top: solid 1px;
  margin-top: 35px;
  padding-top: 0px;

  margin-bottom: 20px;
}

.footer .links {
  margin-top: 20px;
  position: relative;
  width: 100%;

  display: inline-block;
  font-size: 20px;

  overflow: hidden;
}

.footer .links li {
  display: inline-block;
}

.footer .links ul {
  padding: 0;
  margin: 0;
  list-style: none;

  margin-top: 22px;

  position: absolute;
  display: inline-block;
}

#sc-logo {
  display: block;
  width: 100px;
  height: 60px;

  background: url("../assets/soundcloud_logo.png") transparent no-repeat;
  background-size: contain;

  padding: 0;
  margin: 0;

  margin: 0 0 0 auto;
}

#notes {
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;

  color: #989833;
}

#tinysong-logo {
}

.searchbar {
  position: relative;
  margin-top: 10px;
}

.searchbar * {
  display: inline;
}

.searchbar input {
  background: url("../assets/search.png") transparent no-repeat center;
  background-size: contain;
  width: 402px;
  height: 53px;

  font-size: 24px;
  border: 0;

  padding: 4 15 4 15;
  color: white;
}

.searchbar input:focus {
  outline: 0;
}

#search-icon {
  font-size: 24px;
  position: absolute;
  right: 10px;
  top: 15px;
}

#search-icon:hover {
  color: #eee;
}

.message {
  text-align: center;

  background-color: #bada55;
  border-radius: 3px;

  padding: 15 8 15 8;

  margin-top: 25px;
  margin-left: 3px;
  margin-right: 3px;

  width: 378px;
}

.content {
}

.message-container {
  position: relative;
}

#message-box {
  min-height: 19px;
}

#message-text {
  margin: auto auto;
  text-align: center;
}

#notice-box {
  position: absolute;
  min-height: 19px;

  z-index: 99;

  display: none;
  margin-top: 0px;
}

#notice-text {
  margin: auto auto;
  text-align: center;
}

.info-ok {
  background-color: #dffbe5;
  color: #325b3a;
}

.info-error {
  background-color: #fee3e3;
  color: #cc4343;
}

.results {
  text-align: left;
}

.results ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

.results ul li {
  border-bottom: solid #333;
  border-width: 1px;

  padding-top: 8px;
  padding-bottom: 8px;
}

.results ul li span {
  display: inline; /* DEBUG - was inline-block */
}

.results ul li span {
  cursor: text;
}

.results ul li i {
  cursor: pointer;
}

.results ul li:last-child {
  border: 0px;
  padding-bottom: 10px
}

.results-footer {
  text-align: center;
  display: none;
}

#more-button {
  padding-top: 8px;
  font-size: 14px;
  display: inline-block;
  margin: 0 auto;
}

.title {
  display: inline-block;
  margin-bottom: 4px;
  padding: 4 6 4 6;
}

.play-icon {
  display: inline-block;
  background: url("../assets/button_play.png") transparent no-repeat;
  background-size: contain;
  background-position: left center;
  padding-left: 35px;

}

.pause-icon {
  display: inline-block;
  background: url("../assets/button_pause.png") transparent no-repeat;
  background-size: contain;
  background-position: left center;
  padding-left: 35px;
}

[class^="icon-"]:hover, [class*=" icon-"]:hover {
  color: #9AD5F9;
}

a:link, a:visited, a:hover, a:active {
  color: #2A4956;
  text-decoration: none;
}
a:hover {
  color: #9AD5F9;
}
